p{
    color: brown;
    width: 500px;
    border: 1px solid blueviolet;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    background-color: aquamarine;
}
h1{
    color:rgb(255, 153, 0);
    background-color: green;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    border: 2px solid navy;
}